@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the book store</h1>
    <button class="btn btn-primary"><a class="text-white" style="text-decoration: none;" asp-controller="Books" asp-action="Index">List all available books</a></button>
</div>
